In [1]:
def get_total_airbnb_quan(file_path):
    df = pd.read_csv(file_path)

    return df['id'].count()

get_total_airbnb_quan()

TypeError: get_total_airbnb_quan() missing 1 required positional argument: 'file_path'

In [3]:
import pandas as pd

lst = []

def get_total_airbnb_quan(file_path):
    df = pd.read_csv(file_path)
    lst.append(df['id'].count())

    return df['id'].count()

get_total_airbnb_quan('./data/may_2016/2016_may_listings.csv')
print(lst)

[2505]

In [4]:
total_airbnb_quan_dict = {}

def update_dict(date_, airbnb_quan):
    '''
    Updates total_airbnb_quan_dict with Month and Quantity totals

    Parameters:

    date_ (str): The month and year the data was collected (i.e. 'jan_2020')
    airbnb_quan (int): The total number of Airbnb Rental Units for the Month and Year 
                       (Note: See 'get_total_airbnb_quan(file_path)' function above)

    '''
    
    total_airbnb_quan_dict[date_] = airbnb_quan

    return total_airbnb_quan_dict

update_dict('jan_2020', 2505)

{'jan_2020': 2505}

In [7]:
df = pd.read_csv('./data/jan_2020/jan_2020_listings.csv')

In [11]:
df_grouped = df.groupby('room_type').count()

In [23]:
df_grouped[['id']]

                   id
room_type
Entire home/apt  3653
Hotel room         36
Private room     1120
Shared room        51

In [24]:
new_df = df_grouped[['id']]

In [26]:
new_dict = new_df.to_dict()

In [27]:
print(new_dict)

{'id': {'Entire home/apt': 3653, 'Hotel room': 36, 'Private room': 1120, 'Shared room': 51}}

In [28]:
new_dict['id']['Hotel room']

36

In [30]:
new_dict.keys()

dict_keys(['id'])

In [31]:
new_dict['jan_2020'] = new_dict.pop('id')

In [32]:
print(new_dict)

{'jan_2020': {'Entire home/apt': 3653, 'Hotel room': 36, 'Private room': 1120, 'Shared room': 51}}

In [33]:
new_dict['jan_2020']["Private room"]

1120

In [21]:
new_d = dict(df_grouped[['id']])

In [22]:
print(new_d)

{'id': room_type
Entire home/apt    3653
Hotel room           36
Private room       1120
Shared room          51
Name: id, dtype: int64}

In [34]:
def rental_breakdown(date_, file_path):
    '''
    Collects the rental type breakdown for the desired month of data

    Parameters:
    file_path (str): Direct file path to desired dataset 
    date_ (str): The month and year the data was collected (i.e. 'jan_2020')

    Returns:
    airbnb_rental_type_dict (dict): Update copy of the dictionary including breakdown of rental data by type 

    '''

    df = pd.read_csv(file_path)
    df_grouped = df.groupby('room_type').count()
    df_grouped_new = df_grouped[['id']]
    
    # Changing the DataFrame Object to a Dictionary for Data Storage
    rental_type_dict = df_grouped_new.to_dict()

    # Updating the Key Value to Inputted Date String from Function Parameter 
    rental_type_dict[date_] = rental_type_dict.pop('id')

    return rental_type_dict

rental_breakdown('jan_2020','./data/jan_2020/jan_2020_listings.csv')

{'jan_2020': {'Entire home/apt': 3653,
  'Hotel room': 36,
  'Private room': 1120,
  'Shared room': 51}}

In [38]:
def neighborhood_breakdown(date_, file_path):
    '''
    Collects the results of the Top 10 Airbnb Rental Neighborhoods for the desired Month

    Parameters:
    file_path (str): Direct file path to desired dataset 
    date_ (str): The month and year the data was collected (i.e. 'jan_2020')

    Returns:
    neighborhood_d (dict): New dictionary including breakdown of Top 10 neighborhoods

    '''

    df = pd.read_csv(file_path)
    df_grouped = df.groupby('neighbourhood').count()
    neighborhood_d = dict(df_grouped['id'].sort_values(ascending = False).head(10))

    neighborhood_d = {k.lower(): v for k,v in neighborhood_d.items()}
    neighborhood_d = {k.replace(" ","_"): v for k,v in neighborhood_d.items()}

    return neighborhood_d
    
neighborhood_breakdown('jan_2020','./data/jan_2020/jan_2020_listings.csv')

{'five_points': 455,
 'highland': 273,
 'union_station': 225,
 'capitol_hill': 200,
 'gateway_-_green_valley_ranch': 160,
 'sunnyside': 158,
 'west_colfax': 152,
 'speer': 152,
 'west_highland': 145,
 'whittier': 126}

In [39]:
neighborhood_d = {'five_points': 455,
 'highland': 273,
 'union_station': 225,
 'capitol_hill': 200,
 'gateway_-_green_valley_ranch': 160,
 'sunnyside': 158,
 'west_colfax': 152,
 'speer': 152,
 'west_highland': 145,
 'whittier': 126}

In [40]:
new_d = {'jan_2020': neighborhood_d}

In [41]:
print(new_d)

{'jan_2020': {'five_points': 455, 'highland': 273, 'union_station': 225, 'capitol_hill': 200, 'gateway_-_green_valley_ranch': 160, 'sunnyside': 158, 'west_colfax': 152, 'speer': 152, 'west_highland': 145, 'whittier': 126}}

In [42]:
def neighborhood_breakdown(date_, file_path):
    '''
    Collects the results of the Top 10 Airbnb Rental Neighborhoods for the desired Month

    Parameters:
    file_path (str): Direct file path to desired dataset 
    date_ (str): The month and year the data was collected (i.e. 'jan_2020')

    Returns:
    neighborhood_d (dict): New dictionary including breakdown of Top 10 neighborhoods

    '''

    df = pd.read_csv(file_path)
    df_grouped = df.groupby('neighbourhood').count()
    
    # Grabbing the results of the Top 10 and putting them in a dictionary 
    new_d = dict(df_grouped['id'].sort_values(ascending = False).head(10))

    # Iterating through the dictionary keys to put them in lower case and add "_" in place of " "
    new_d = {k.lower(): v for k,v in new_d.items()}
    new_d = {k.replace(" ","_"): v for k,v in new_d.items()}

    # Creating a nested dictionary to add Month to Data for Clarity (i.e. 'jan_2020')
    neighborhood_d = {date_ : new_d}

    return neighborhood_d

neighborhood_breakdown('jan_2020','./data/jan_2020/jan_2020_listings.csv')

{'jan_2020': {'five_points': 455,
  'highland': 273,
  'union_station': 225,
  'capitol_hill': 200,
  'gateway_-_green_valley_ranch': 160,
  'sunnyside': 158,
  'west_colfax': 152,
  'speer': 152,
  'west_highland': 145,
  'whittier': 126}}

In [45]:
    def price_breakdown_by_type(file_path):
        '''
        Collects the prices for all Airbnb listings in a month and appends them to a list for plotting

        Parameters:
        file_path (str): Direct file path to desired dataset 

        Returns: 
        entire_unit_price_list (list): Returns a list of integers with all prices for entire unit rentals
        private_room_price_list (list): Returns a list of integers with all prices for private room rentals
        hotel_price_list (list): Returns a list of integers with all prices for hotel rentals
        shared_room_price_list (list): Returns a list of integers with all prices for shared room rentals
        '''

        df = pd.read_csv(file_path)
        
        hotel_prices = df[df['room_type']=='Hotel room']
        new_hotel_price = hotel_prices.loc[0:, 'price']
        hotel_price_list = list(new_hotel_price)

        entire_unit_prices = df[df['room_type']=='Entire home/apt']
        new_entire_unit_price = entire_unit_prices.loc[0:, 'price']
        entire_unit_price_list = list(new_entire_unit_price)

        shared_prices = df[df['room_type']=='Shared room']
        new_shared_price = shared_prices.loc[0:, 'price']
        shared_room_price_list = list(new_shared_price)

        private_prices = df[df['room_type']=='Private room']
        new_private_price = private_prices.loc[0:, 'price']
        private_room_price_list = list(new_private_price)

        d = {'entire_unit':entire_unit_price_list, 'private_room':private_room_price_list, 
             'hotel':hotel_price_list, 'shared_room':shared_room_price_list}
        
        
        return d
    
price_breakdown_by_type('./data/jan_2020/jan_2020_listings.csv')

{'entire_unit': [140,
  179,
  95,
  76,
  110,
  111,
  300,
  130,
  75,
  110,
  165,
  180,
  110,
  200,
  85,
  129,
  109,
  120,
  199,
  98,
  299,
  78,
  66,
  220,
  57,
  300,
  122,
  86,
  74,
  95,
  128,
  95,
  129,
  295,
  60,
  88,
  110,
  95,
  115,
  199,
  215,
  140,
  100,
  175,
  130,
  115,
  254,
  99,
  132,
  110,
  51,
  199,
  90,
  275,
  228,
  90,
  235,
  70,
  175,
  75,
  119,
  150,
  90,
  96,
  160,
  150,
  94,
  175,
  129,
  249,
  125,
  99,
  201,
  225,
  125,
  145,
  135,
  95,
  65,
  194,
  85,
  90,
  60,
  85,
  200,
  120,
  169,
  67,
  100,
  100,
  95,
  72,
  70,
  195,
  150,
  125,
  150,
  300,
  109,
  199,
  187,
  139,
  150,
  75,
  170,
  225,
  165,
  135,
  159,
  125,
  245,
  160,
  475,
  80,
  56,
  131,
  190,
  328,
  90,
  55,
  125,
  140,
  105,
  114,
  125,
  156,
  80,
  85,
  104,
  250,
  102,
  750,
  100,
  119,
  129,
  150,
  120,
  288,
  120,
  65,
  210,
  95,
  120,
  89,
  190,
  145,
  100,
  96,
  160,
  500,
  135,
  79,
  100,
  99,
  289,
  250,
  110,
  95,
  550,
  160,
  149,
  75,
  125,
  78,
  100,
  150,
  111,
  125,
  75,
  169,
  78,
  99,
  150,
  60,
  144,
  65,
  130,
  120,
  150,
  400,
  78,
  159,
  220,
  350,
  214,
  115,
  90,
  75,
  69,
  280,
  140,
  90,
  125,
  118,
  49,
  120,
  60,
  185,
  135,
  119,
  125,
  125,
  175,
  150,
  75,
  350,
  115,
  71,
  99,
  91,
  224,
  98,
  175,
  90,
  120,
  89,
  109,
  199,
  47,
  125,
  99,
  65,
  80,
  725,
  79,
  65,
  78,
  120,
  299,
  199,
  499,
  150,
  90,
  365,
  100,
  300,
  135,
  169,
  149,
  259,
  210,
  375,
  99,
  110,
  229,
  100,
  197,
  100,
  150,
  149,
  90,
  250,
  263,
  125,
  500,
  235,
  145,
  80,
  199,
  115,
  450,
  169,
  115,
  115,
  120,
  106,
  145,
  185,
  150,
  60,
  100,
  75,
  160,
  89,
  100,
  105,
  295,
  59,
  209,
  499,
  115,
  199,
  116,
  151,
  129,
  275,
  550,
  110,
  126,
  165,
  99,
  175,
  150,
  51,
  100,
  222,
  165,
  400,
  105,
  125,
  599,
  139,
  98,
  114,
  109,
  95,
  234,
  82,
  69,
  159,
  200,
  168,
  140,
  120,
  199,
  100,
  69,
  100,
  95,
  69,
  98,
  95,
  125,
  100,
  110,
  125,
  179,
  350,
  100,
  154,
  79,
  130,
  80,
  70,
  225,
  125,
  135,
  575,
  145,
  80,
  195,
  120,
  139,
  120,
  50,
  47,
  150,
  100,
  92,
  79,
  71,
  175,
  199,
  250,
  100,
  65,
  78,
  115,
  130,
  110,
  59,
  190,
  299,
  65,
  225,
  165,
  116,
  257,
  105,
  47,
  150,
  65,
  95,
  175,
  64,
  95,
  135,
  165,
  107,
  190,
  220,
  180,
  160,
  99,
  114,
  100,
  125,
  120,
  110,
  110,
  97,
  120,
  54,
  695,
  115,
  149,
  400,
  105,
  155,
  79,
  60,
  90,
  95,
  60,
  75,
  82,
  95,
  150,
  229,
  150,
  22,
  85,
  48,
  165,
  145,
  115,
  195,
  55,
  125,
  125,
  100,
  90,
  105,
  90,
  99,
  70,
  175,
  150,
  105,
  245,
  116,
  70,
  134,
  120,
  75,
  500,
  99,
  85,
  99,
  95,
  115,
  120,
  145,
  75,
  99,
  222,
  645,
  79,
  99,
  157,
  102,
  175,
  88,
  209,
  99,
  125,
  141,
  99,
  147,
  85,
  75,
  85,
  250,
  125,
  49,
  85,
  120,
  120,
  109,
  80,
  99,
  225,
  65,
  150,
  125,
  123,
  192,
  175,
  99,
  350,
  150,
  90,
  69,
  80,
  175,
  90,
  200,
  115,
  145,
  83,
  100,
  178,
  200,
  79,
  80,
  83,
  189,
  139,
  179,
  108,
  135,
  145,
  136,
  289,
  75,
  75,
  475,
  160,
  120,
  195,
  125,
  98,
  95,
  395,
  84,
  148,
  495,
  112,
  84,
  55,
  93,
  225,
  99,
  115,
  150,
  135,
  800,
  200,
  245,
  290,
  99,
  145,
  250,
  85,
  100,
  82,
  150,
  349,
  80,
  320,
  75,
  395,
  369,
  9999,
  150,
  500,
  199,
  45,
  97,
  650,
  150,
  165,
  145,
  120,
  95,
  120,
  58,
  100,
  150,
  97,
  75,
  85,
  140,
  145,
  94,
  199,
  133,
  140,
  250,
  96,
  390,
  250,
  200,
  85,
  81,
  98,
  199,
  70,
  120,
  75,
  261,
  120,
  159,
  65,
  199,
  125,
  79,
  129,
  140,
  225,
  200,
  225,
  85,
  82,
  234,
  205,
  166,
  370,
  104,
  100,
  148,
  114,
  99,
  90,
  160,
  68,
  200,
  104,
  263,
  170,
  177,
  165,
  133,
  128,
  97,
  135,
  88,
  145,
  180,
  177,
  191,
  81,
  136,
  130,
  163,
  109,
  75,
  309,
  225,
  94,
  139,
  286,
  487,
  90,
  160,
  78,
  350,
  200,
  199,
  229,
  78,
  119,
  200,
  250,
  85,
  60,
  100,
  275,
  110,
  99,
  75,
  99,
  85,
  69,
  200,
  135,
  135,
  225,
  138,
  88,
  200,
  83,
  120,
  169,
  99,
  85,
  99,
  95,
  85,
  150,
  109,
  99,
  350,
  250,
  80,
  75,
  275,
  150,
  99,
  100,
  139,
  119,
  113,
  61,
  61,
  340,
  88,
  250,
  99,
  66,
  209,
  70,
  120,
  350,
  95,
  70,
  95,
  90,
  75,
  242,
  99,
  225,
  183,
  169,
  109,
  225,
  75,
  200,
  120,
  150,
  115,
  175,
  120,
  62,
  149,
  249,
  108,
  249,
  997,
  55,
  75,
  600,
  75,
  95,
  136,
  200,
  95,
  50,
  359,
  179,
  160,
  200,
  160,
  195,
  100,
  200,
  250,
  400,
  125,
  55,
  115,
  90,
  600,
  61,
  130,
  159,
  310,
  110,
  369,
  75,
  79,
  135,
  70,
  95,
  150,
  179,
  230,
  66,
  320,
  69,
  250,
  69,
  120,
  249,
  199,
  325,
  105,
  80,
  89,
  398,
  99,
  150,
  135,
  150,
  70,
  175,
  87,
  350,
  99,
  130,
  80,
  135,
  205,
  100,
  89,
  150,
  75,
  179,
  400,
  85,
  750,
  100,
  200,
  120,
  99,
  84,
  118,
  72,
  199,
  140,
  150,
  90,
  98,
  99,
  115,
  118,
  150,
  199,
  50,
  70,
  79,
  90,
  110,
  95,
  82,
  240,
  109,
  164,
  46,
  95,
  75,
  172,
  125,
  70,
  105,
  109,
  300,
  115,
  110,
  175,
  119,
  80,
  199,
  89,
  124,
  190,
  59,
  250,
  89,
  125,
  350,
  199,
  100,
  136,
  100,
  80,
  50,
  85,
  195,
  100,
  280,
  175,
  120,
  119,
  345,
  225,
  65,
  65,
  85,
  350,
  54,
  160,
  288,
  215,
  134,
  199,
  145,
  72,
  40,
  85,
  108,
  142,
  85,
  69,
  349,
  1004,
  1004,
  1004,
  1004,
  1004,
  1009,
  1004,
  1004,
  1004,
  1004,
  1004,
  1004,
  1004,
  72,
  94,
  89,
  110,
  89,
  143,
  116,
  149,
  84,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  999,
  75,
  135,
  150,
  240,
  104,
  1004,
  1004,
  80,
  100,
  169,
  100,
  999,
  1009,
  1009,
  1009,
  96,
  70,
  199,
  84,
  160,
  70,
  115,
  125,
  200,
  100,
  249,
  120,
  999,
  990,
  250,
  350,
  260,
  82,
  108,
  69,
  89,
  175,
  150,
  80,
  199,
  199,
  275,
  300,
  70,
  115,
  99,
  89,
  125,
  100,
  100,
  185,
  139,
  161,
  107,
  149,
  73,
  74,
  350,
  125,
  79,
  99,
  142,
  300,
  150,
  150,
  107,
  345,
  111,
  159,
  115,
  169,
  350,
  76,
  999,
  999,
  115,
  225,
  100,
  140,
  425,
  200,
  145,
  99,
  165,
  85,
  72,
  299,
  ...],
 'private_room': [61,
  44,
  90,
  35,
  66,
  70,
  70,
  55,
  60,
  55,
  25,
  65,
  170,
  74,
  125,
  48,
  68,
  55,
  47,
  102,
  62,
  60,
  60,
  78,
  75,
  56,
  78,
  50,
  25,
  25,
  39,
  75,
  25,
  42,
  51,
  85,
  70,
  169,
  74,
  78,
  106,
  43,
  60,
  75,
  65,
  50,
  53,
  54,
  75,
  125,
  75,
  115,
  55,
  52,
  55,
  65,
  50,
  40,
  108,
  58,
  41,
  41,
  69,
  60,
  60,
  60,
  85,
  85,
  68,
  70,
  67,
  42,
  96,
  73,
  44,
  33,
  50,
  50,
  75,
  60,
  60,
  45,
  50,
  51,
  85,
  65,
  31,
  120,
  45,
  129,
  37,
  129,
  249,
  79,
  79,
  60,
  58,
  85,
  35,
  40,
  50,
  39,
  50,
  95,
  75,
  65,
  65,
  79,
  70,
  249,
  79,
  115,
  89,
  49,
  60,
  59,
  68,
  37,
  35,
  49,
  60,
  80,
  75,
  60,
  70,
  199,
  38,
  60,
  40,
  65,
  75,
  40,
  38,
  75,
  45,
  75,
  29,
  40,
  66,
  50,
  75,
  101,
  90,
  60,
  25,
  49,
  58,
  45,
  67,
  47,
  95,
  50,
  80,
  57,
  40,
  75,
  82,
  115,
  69,
  42,
  120,
  29,
  19,
  75,
  80,
  70,
  25,
  50,
  75,
  75,
  35,
  43,
  100,
  160,
  85,
  145,
  632,
  66,
  60,
  80,
  50,
  89,
  189,
  40,
  40,
  50,
  60,
  45,
  125,
  90,
  46,
  75,
  60,
  85,
  85,
  45,
  65,
  53,
  68,
  49,
  37,
  37,
  60,
  65,
  40,
  9999,
  99,
  95,
  50,
  56,
  89,
  88,
  79,
  45,
  60,
  50,
  60,
  69,
  60,
  41,
  50,
  40,
  99,
  30,
  77,
  85,
  39,
  79,
  60,
  60,
  53,
  75,
  350,
  70,
  79,
  50,
  79,
  79,
  49,
  90,
  75,
  79,
  45,
  75,
  50,
  85,
  43,
  30,
  29,
  65,
  80,
  66,
  54,
  62,
  45,
  67,
  49,
  87,
  75,
  35,
  62,
  65,
  80,
  95,
  66,
  75,
  49,
  35,
  45,
  77,
  35,
  100,
  60,
  70,
  60,
  100,
  60,
  130,
  43,
  60,
  40,
  49,
  43,
  95,
  150,
  43,
  45,
  79,
  36,
  50,
  45,
  60,
  57,
  80,
  50,
  45,
  70,
  75,
  65,
  39,
  40,
  85,
  61,
  75,
  51,
  50,
  37,
  45,
  140,
  45,
  73,
  99,
  75,
  48,
  55,
  90,
  150,
  45,
  37,
  42,
  70,
  75,
  35,
  60,
  52,
  45,
  80,
  50,
  60,
  45,
  75,
  65,
  75,
  51,
  60,
  60,
  46,
  119,
  75,
  40,
  69,
  19,
  99,
  65,
  42,
  50,
  45,
  60,
  45,
  88,
  66,
  59,
  59,
  105,
  50,
  200,
  45,
  45,
  69,
  55,
  70,
  60,
  60,
  79,
  50,
  69,
  50,
  85,
  80,
  41,
  57,
  69,
  119,
  62,
  115,
  50,
  47,
  60,
  110,
  40,
  37,
  50,
  80,
  25,
  45,
  55,
  40,
  45,
  38,
  110,
  75,
  70,
  99,
  30,
  25,
  102,
  34,
  199,
  60,
  49,
  95,
  75,
  28,
  145,
  49,
  65,
  70,
  47,
  90,
  67,
  60,
  29,
  85,
  37,
  60,
  55,
  70,
  31,
  75,
  285,
  99,
  55,
  40,
  40,
  199,
  47,
  120,
  110,
  45,
  50,
  20,
  60,
  50,
  45,
  40,
  69,
  65,
  40,
  45,
  60,
  55,
  80,
  40,
  128,
  80,
  74,
  50,
  100,
  32,
  35,
  37,
  75,
  31,
  300,
  40,
  50,
  55,
  75,
  33,
  65,
  39,
  30,
  58,
  40,
  39,
  35,
  40,
  55,
  30,
  50,
  50,
  55,
  60,
  53,
  50,
  36,
  35,
  50,
  46,
  65,
  40,
  46,
  32,
  33,
  50,
  40,
  40,
  60,
  42,
  31,
  64,
  100,
  100,
  99,
  69,
  60,
  40,
  51,
  50,
  47,
  149,
  70,
  45,
  55,
  80,
  45,
  45,
  25,
  55,
  69,
  75,
  76,
  75,
  80,
  50,
  49,
  45,
  42,
  55,
  45,
  45,
  52,
  31,
  60,
  49,
  49,
  100,
  49,
  50,
  89,
  19,
  40,
  50,
  240,
  30,
  60,
  39,
  69,
  65,
  50,
  65,
  65,
  37,
  75,
  50,
  69,
  50,
  45,
  210,
  62,
  52,
  55,
  47,
  79,
  40,
  76,
  54,
  35,
  69,
  70,
  59,
  80,
  65,
  59,
  65,
  75,
  55,
  70,
  57,
  82,
  40,
  189,
  169,
  249,
  33,
  25,
  39,
  100,
  65,
  60,
  59,
  21,
  39,
  100,
  70,
  49,
  100,
  60,
  99,
  55,
  100,
  58,
  30,
  700,
  48,
  150,
  125,
  75,
  52,
  53,
  31,
  89,
  200,
  77,
  49,
  20,
  110,
  60,
  75,
  48,
  92,
  65,
  65,
  29,
  40,
  60,
  50,
  35,
  75,
  39,
  56,
  75,
  55,
  55,
  69,
  45,
  54,
  42,
  60,
  65,
  100,
  62,
  24,
  65,
  50,
  89,
  45,
  55,
  85,
  30,
  52,
  50,
  79,
  49,
  250,
  80,
  80,
  75,
  65,
  39,
  125,
  65,
  60,
  40,
  34,
  100,
  35,
  65,
  75,
  50,
  50,
  70,
  50,
  75,
  50,
  45,
  45,
  69,
  35,
  90,
  85,
  80,
  60,
  27,
  55,
  90,
  34,
  75,
  31,
  35,
  60,
  75,
  60,
  64,
  225,
  30,
  39,
  35,
  50,
  50,
  50,
  55,
  79,
  70,
  32,
  149,
  55,
  45,
  30,
  45,
  40,
  89,
  61,
  35,
  45,
  90,
  120,
  33,
  26,
  49,
  35,
  114,
  35,
  35,
  31,
  65,
  60,
  70,
  55,
  49,
  40,
  39,
  33,
  37,
  65,
  65,
  70,
  45,
  50,
  110,
  45,
  30,
  38,
  60,
  60,
  41,
  50,
  162,
  70,
  89,
  67,
  65,
  204,
  220,
  149,
  216,
  216,
  184,
  224,
  49,
  54,
  59,
  54,
  34,
  41,
  50,
  55,
  100,
  235,
  59,
  35,
  45,
  95,
  70,
  50,
  55,
  39,
  39,
  45,
  27,
  55,
  95,
  79,
  79,
  24,
  74,
  400,
  100,
  125,
  125,
  40,
  39,
  85,
  45,
  60,
  75,
  35,
  55,
  50,
  225,
  67,
  69,
  55,
  50,
  91,
  55,
  174,
  124,
  96,
  99,
  30,
  45,
  42,
  75,
  50,
  129,
  95,
  90,
  75,
  80,
  55,
  65,
  60,
  20,
  80,
  65,
  49,
  43,
  31,
  90,
  75,
  220,
  59,
  85,
  50,
  66,
  35,
  55,
  89,
  29,
  75,
  59,
  40,
  49,
  47,
  80,
  95,
  73,
  65,
  49,
  49,
  45,
  55,
  75,
  85,
  65,
  35,
  85,
  95,
  49,
  55,
  800,
  60,
  60,
  45,
  29,
  65,
  52,
  40,
  47,
  52,
  60,
  107,
  44,
  77,
  35,
  55,
  56,
  60,
  495,
  70,
  100,
  65,
  52,
  70,
  55,
  60,
  33,
  122,
  65,
  60,
  125,
  144,
  43,
  40,
  45,
  45,
  80,
  50,
  65,
  35,
  41,
  50,
  48,
  48,
  65,
  35,
  50,
  80,
  50,
  60,
  49,
  90,
  65,
  50,
  50,
  175,
  150,
  49,
  85,
  65,
  145,
  75,
  70,
  85,
  70,
  50,
  55,
  50,
  75,
  60,
  50,
  53,
  70,
  79,
  130,
  90,
  89,
  75,
  35,
  39,
  22,
  28,
  35,
  50,
  99,
  35,
  82,
  50,
  34,
  39,
  85,
  50,
  80,
  50,
  50,
  50,
  50,
  100,
  28,
  65,
  45,
  70,
  70,
  60,
  50,
  40,
  74,
  99,
  49,
  45,
  35,
  80,
  55,
  79,
  59,
  55,
  55,
  56,
  42,
  45,
  50,
  32,
  70,
  32,
  46,
  45,
  45,
  65,
  65,
  100,
  100,
  50,
  100,
  49,
  46,
  125,
  33,
  80,
  100,
  90,
  50,
  39,
  100,
  59,
  40,
  40,
  60,
  100,
  50,
  ...],
 'hotel': [140,
  145,
  115,
  50,
  45,
  43,
  50,
  97,
  155,
  45,
  53,
  45,
  52,
  50,
  55,
  50,
  90,
  90,
  90,
  95,
  99,
  99,
  95,
  95,
  45,
  50,
  45,
  50,
  110,
  250,
  106,
  181,
  175,
  220,
  215,
  175],
 'shared_room': [55,
  60,
  100,
  18,
  18,
  38,
  37,
  59,
  18,
  80,
  60,
  29,
  69,
  19,
  19,
  44,
  50,
  114,
  29,
  35,
  35,
  35,
  35,
  15,
  16,
  38,
  35,
  38,
  37,
  39,
  39,
  36,
  38,
  37,
  37,
  37,
  25,
  130,
  49,
  20,
  100,
  100,
  37,
  25,
  20,
  35,
  37,
  50,
  85,
  19,
  42]}